import os
import socket

db_user = os.getenv("MARIADB_USER", "crbs_user")
db_password =os.getenv("MARIADB_PASSWORD", "")
try:
    db_host = socket.gethostbyname('crbs-mariadb')
except:
    db_host = "127.0.0.1"
db_port = 3306
db_database = os.getenv("MARIADB_DATABASE", "crbs_db")
